In [3]:
import pandas as pd
import plotly.express as px

### First Transformation: Data Analysis

#### Analysis 2
- Analysis 2 asks for (50 x 12 months) = 600 rows counting severe events. The output of analysis 2 only has 576 rows because some states in some months did not have any severe events.

In [7]:
sev_st_month_df = pd.read_csv('raw_and_cleaned_data/Output Csvs/severe_by_state_by_month.csv', header = [0]).iloc[1:, :].reset_index()
sev_st_month_df

     index State  Month   Cold    Fog  Storm
0        1    AL    1.0   41.0  691.0    6.0
1        2    AL    2.0   29.0  536.0    2.0
2        3    AL    3.0   38.0  864.0    2.0
3        4    AL    4.0   50.0  293.0    6.0
4        5    AL    5.0   33.0  374.0    1.0
..     ...   ...    ...    ...    ...    ...
571    572    WY    8.0  149.0   51.0   25.0
572    573    WY    9.0   74.0  109.0   43.0
573    574    WY   10.0  103.0  166.0  130.0
574    575    WY   11.0   22.0   63.0   95.0
575    576    WY   12.0   79.0  174.0  142.0

[576 rows x 6 columns]

### Second Transformation: Tables, figures, and listings 
-	Graph Number 2 is not possible from our current POC.
-	Graph Number 2 takes the dataframe from data analysis problem 2 which looks like this (with sum of events per state per month as a new column, 'Sum Events')

In [15]:
df = pd.read_csv('raw_and_cleaned_data/Practice Csvs/severe_events_month_sum.csv')

In [17]:
df.head()

   index State Month  Cold  Fog  Storm  Sum Events
0      1    AL   Jan    41  691      6         738
1      2    AL   Feb    29  536      2         567
2      3    AL   Mar    38  864      2         904
3      4    AL   Apr    50  293      6         349
4      5    AL   May    33  374      1         408

- and this is what the formula for plotly histograms look like

In [19]:
# fig = px.histogram(df, x = 'State', color = 'Type', y = 'Severe Count')

- however this is not possible because the color variable assignment must be a categorical value. Our 'Type' which is not in a column is